<h2>Register</h2>
<form method="post">
    <input name="FullName" placeholder="Name" />
    <input name="Email" placeholder="Email" />
    <input name="Password" type="password" />
    <button>Register</button>
</form>
