<link rel="stylesheet" href="/css/site.css" />
<div class="container-box">
    <h2>Login</h2>
    <form method="post">
        <input name="email" placeholder="Email" />
        <input name="password" type="password" placeholder="Password" />
        <button>Login</button>
    </form>

    <p style="text-align:center; margin-top:10px;">
        <a href="/Account/Register">Register / Add User</a>
    </p>
</div>