<link rel="stylesheet" href="/css/site.css" />
<div class="page-container">
    <h2 style="text-align:center;">Register New User</h2>
    <form method="post">
        
        <input name="FullName" placeholder="Full Name" />
        <input name="Email" placeholder="Email" />
        <input name="Password" type="password" placeholder="Password" />
        <button>Register</button>
    </form>
</div>