<link rel="stylesheet" href="~/css/site.css" />

<div class="page-container">
    <h2 style="text-align:center;"> Employee</h2>

    <form method="post">
        
        <input name="Name" placeholder="Employee Name" required />

        <input name="Department" placeholder="Department" required />

        <input name="Salary" type="number" placeholder="Salary" required />

        <button type="submit">Save</button>
    </form>

    <br />
    <div style="text-align:center;">
        <a href="/Employee/Index">Back to List</a>
    </div>
</div>